<div class="individual-container">
    <img src="@item.Picture" alt="Poster" class="item-poster" />
    <p>@item.Name - @item.ImagesCharacter</p>
    <hr />
    <br />
    <div>
        <a href="@itemUrl" class="btn btn-outline-primary">Details</a>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <a href="/image/edit/@item.Id" class="btn btn-outline-warning">Edit</a>
                <button type="button" class="btn btn-outline-danger" @onclick="@(() => DeleteObject.InvokeAsync(item))">Delete</button>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

@code {
    //realisation for this codeblock located in Shared/Components/PersonList

    [Parameter] public Image item { get; set; }
    [Parameter] public EventCallback<Image> DeleteObject { get; set; }
    private string itemUrl = string.Empty;

    protected override void OnInitialized()
    {
        itemUrl = $"image/{item.Id}";
    }
}